<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TZSmartLockers</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <div class="sidebar">
            <div class="logo d-flex align-items-center mb-4">
                <img src="/images/tz-logo.png" width="40" alt="TZ Logo" />
                <span class="ms-2"><strong>Data<br />Cabinet<br />Security</strong></span>
            </div>
            <a href="#" class="nav-link active"><i class="fa fa-table me-2"></i>Device Status</a>
            <a href="#" class="nav-link"><i class="fa fa-clock me-2"></i>Event Logs</a>
            <a class="nav-link" data-bs-toggle="collapse" href="#usersSubMenu" role="button" aria-expanded="false" aria-controls="usersSubMenu">
                <i class="fa fa-users me-2"></i>Users
            </a>
            <div class="collapse ps-4" id="usersSubMenu">
                <a href="@Url.Action("Logins", "Users")" class="nav-link">Logins</a>
                <a href="@Url.Action("RFID", "Users")" class="nav-link">RFID</a>
            </div>
            <a href="#" class="nav-link"><i class="fa fa-bell me-2"></i>Alarm Configuration</a>
            <a href="#" class="nav-link"><i class="fa fa-microchip me-2"></i>Device Configuration</a>
            <a href="#" class="nav-link"><i class="fa fa-cogs me-2"></i>System</a>
            <a href="#" class="nav-link"><i class="fa fa-user-cog me-2"></i>User Settings</a>
            <a asp-controller="Login" asp-action="Logout" class="nav-link">
                <i class="fa fa-sign-out-alt me-2"></i>LogOut
            </a>
        </div>

        <div class="main-content">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
