@{
    ViewData["Title"] = "Alarm Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Title -->
    <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 7px;">
        <h1 class="fw-bold page-title mb-0">Alarm Configuration</h1>
    </div>

    <!-- Card Container -->
    <div class="card shadow-sm" style="border-radius: 12px; padding: 0; overflow: hidden; background: #F2F2F2;">
        <div class="table-responsive">
            <table class="table align-middle mb-0 " style="margin: 0; font-size: 14px;">
                <thead style="background-color: #f9f9f9; font-weight: bold; text-align: center; line-height: 1.2;">
                    
                    <tr>
                        <th rowspan="2" style="padding: 10px 0 0 0 !important; padding: 6px; vertical-align: bottom;">Title</th>
                        <th rowspan="2" style="padding: 10px 0 0 0 !important; padding: 6px; vertical-align: bottom;">Source</th>
                        <th rowspan="2" style="padding: 10px 0 0 0 !important; padding: 6px; vertical-align: bottom;">Current Reading</th>
                        <th colspan="2" style="padding: 10px 0 0 0 !important; padding: 4px; vertical-align: middle;">Minimum</th>
                        <th colspan="2" style="padding: 10px 0 0 0 !important; padding: 4px; vertical-align: middle;">Maximum</th>
                        <th rowspan="2" style="padding: 10px 0 0 0 !important; padding: 6px; vertical-align: bottom;">Action</th>
                    </tr>
                    <tr>
                        <th style="padding: 10px 0 0 0 !important; padding: 6px; padding-top:20;">Trigger</th>
                        <th style="padding: 10px 0 0 0 !important; padding: 6px;">Reset</th>
                        <th style="padding: 10px 0 0 0 !important; padding: 6px;">Trigger</th>
                        <th style="padding: 10px 0 0 0 !important; padding: 6px;">Reset</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                    </tr>
                    <tr style="border-bottom: none !important;">
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .table tbody tr {
        height:81px !important;
    }
</style>
