@{
    ViewData["Title"] = "System";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .symbol-cell {
        text-align: start;
       
    }


</style>
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 7px;">
        <h1 class="fw-bold page-title mb-0">System</h1>
        <h3 class="timedate" id="liveDateTime"></h3>
    </div>

    <div class="card shadow-sm" style="border-radius: 12px; padding: 0; overflow: hidden;">
        <div class="user-settings-wrapper">
            <h3 class="fw-semibold mb-4">About this Centurion™ Bridge</h3>
            <div class="table-responsive" style="display: flex; align-items: flex-start;">
                
                <table class="system-info-table">
                    <tbody id="deviceTableBody"></tbody>
                </table>
                <div class="center-line" style="position:relative; width: 5px; background-color: #E5E5E5; height: 320px;"></div>
                <div class="settings-section">
                    <form>
                        <div class="settings-form-group">
                            <label class="settings-label">Primary Name <span class="required">*</span></label>
                            <input type="text" class="form-control" value="">
                        </div>
                        <div class="settings-form-group">
                            <label class="settings-label">Secondary Name <span class="required">*</span></label>
                            <input type="text" class="form-control" value="">
                        </div>
                        <div class="settings-form-group">
                            <label class="settings-label">Temperature Unit</label>
                            <input type="text" class="form-control" value="">
                        </div>


                    </form>
                    <div class="SystemButton">
                        <button type="submit" class="btn btn-custom">Save</button>
                        <button type="reset" class="btn btn-custom">Cancel</button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div style="margin: 100px 0px 0px 25px;">
    <button class="license-button">
        <i class="fa-solid fa-file-arrow-down" style="color:white; -webkit-text-stroke:2px black;"></i>
        License Agreement
    </button>
</div>

@section Scripts {
    <script>
        fetch('/data/AboutCenturion.json')
            .then(response => response.json())
            .then(data => {
                let tableBody = document.getElementById('deviceTableBody');
                tableBody.innerHTML = data.map(item => `
        <tr><td>Current Date/Time</td><td style="font-weight: bold; font-size:16px;"><span class="currentDateTimeCell"></span><button class="circular-symbol" style="margin-left:20px;"><i class="fas fa-chevron-right"></i></button></td></tr>
                            <tr><td>Centurion Server IP</td><td>${item.CenturionServer}</td></tr>
                            <tr><td>Product</td><td>${item.Product}</td></tr>
                            <tr><td>Firmware</td><td>${item.Firmware}</td></tr>
                            <tr><td>Web UI version</td><td>${item.WebUIversion}</td></tr>
                            <tr><td>Serial Number</td><td>${item.SerialNumber}</td></tr>
                            <tr><td>Batch Code</td><td>${item.BatchCode}</td></tr>
                            <tr><td>Build Date</td><td>${item.BuildDate}</td></tr>
                            <tr><td>MAC Address</td><td>${item.MACAddress}</td></tr>
                        `).join('');

                updateLiveDateTime();
            })
            .catch(error => console.error("Error loading JSON:", error));

        
    </script>
    <script type="module">
        import { startLiveDateTime } from '/js/liveDateTime.js';
        startLiveDateTime('liveDateTime');
    </script>
}
<style>
    .center-line {
        position: relative;
        width: 1px;
        background-color: #d9d9d9;
        height: 100%;
        margin: 0 30px;
    }
</style>